doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		title="Document"
		link(rel="stylesheet", href="css/vendor.css")
		link(rel="stylesheet", href="css/style.css")
	body
		h1="Prueba gulp"